{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="max-w-7xl mx-auto p-6">
        <h1 class="mb-5 text-3xl">My Profile</h1>
        <div class="mb-6">
            <strong>Name: </strong>{{ request.user.get_full_name }}<br>
            <strong>Username: </strong>{{ request.user.username }}<br>
            <strong>E-mail: </strong>{{ request.user.email }}<br>

            <a href="{% url 'edit_profile' %}"
               class="inline-block mt-4 py-2 px-4 rounded-lg text-white bg-teal-500">Edit</a>

        </div>
        <hr>
        <div class="flex-col w-full">
            <h2 class="mb-6 text-xl">Favorite Products</h2>

            <div class="stores w-full lg:w-3/4 -mt-6 flex items-center flex-wrap">
                {% for product in products %}
                    {% include 'components/product_list_item.html' %}
                {% endfor %}
                {% if products|length == 0 %}
                    <div class="py-6"></div>
                {% endif %}
            </div>
        </div>

        <div class="flex-col w-full">
            <h2 class="mb-6 text-xl">Favorite Stores</h2>
            <div class="stores w-full lg:w-3/4 -mt-6 flex items-center flex-wrap">
                {% for store in stores %}
                    {% include 'components/store_list_item.html' %}
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}